@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Success!</h4>
                    <p>Your contact form has been submitted successfully.</p>
                    <hr>
                    <p class="mb-0">Thank you for contacting us. We will get back to you soon.</p>
                </div>
            </div>
        </div>
    </div>
</div>
