@model  ServiceModel

@{
    ViewData["Title"] = "Create Service";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main">
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="@Url.Action("CreateService", "Admin")">
                <h5>Add New Services</h5>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Name" class="form-control" aria-required="true" name="Name" />
                    <label asp-for="Name">Name</label>
                    <span as-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Pershkrimi" class="form-control" aria-required="true" name="Pershkrimi" />
                    <label asp-for="Pershkrimi">Pershkrimi</label>
                    <span as-validation-for="Pershkrimi" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="PhotoUrl" class="form-control" aria-required="true" name="PhotoUrl" />
                    <label asp-for="PhotoUrl">Photo URL</label>
                    <span as-validation-for="PhotoUrl" class="text-danger"></span>
                </div>

                <br />
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
