@{
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Success!</h4>
                    <p>Your complaint has been sent.</p>
                    <hr>
                    <p class="mb-0">Thank you ! </p>
                </div>
            </div>
        </div>
    </div>
</div>
