@using Hospital_System_Management.Models

@{
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<style>


    .container h1{
        text-align:center;
        font-family: Arial, sans-serif;
        color:lightblue;
        font-size:34px;
        margin-bottom:10px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .edit-btn,
    .delete-btn {
        padding: 6px 12px;
        margin-right: 5px;
        background-color: dodgerblue;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .delete-btn {
        background-color: #f44336;
    }
</style>
<div class="container">
    <h1>Appointment Dashboard</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Doctor</th>
                <th>Service</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>johndoe@example.com</td>
                <td>Dr. Smith</td>
                <td>Stomatology</td>
                <td>2023-06-10</td>
                <td class="actions">
                    <button class="edit-btn">Edit</button>
                    <button class="delete-btn">Delete</button>
                </td>
            </tr>
      
           
        </tbody>
    </table>
</div>
